# Virtual environment
venv/
.venv/
ENV/
env/
.streamlit/
.cache/

# Environments
.env
.env.local
.env.*
*.env
!.env.example

# Test & Temp artifacts
sample_test.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.toast
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local history & testing
.lh/
.pytest_cache/
.coverage
htmlcov/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

